@font-face {
  font-family: 'Roboto-regular';
  src: url(../fonts/Roboto-regular.ttf); }
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(../fonts/RobotoCondensed-Regular.ttf); }
/*CLEARFIX*/
:focus {
  outline: 0; }

:active {
  outline: none; }

body {
  font-family: 'Roboto-regular';
  line-height: 1;
  color: black;
  background: white; 
  overflow-x: hidden;}

table {
  position: relative;
  right: 8px;
  border-collapse: separate;
  border-spacing: 0;
  /* right: 50px; */ }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }
.container{
/*  width: 1000px;
  margin: 0 auto;
*/}

.clearfix:before, .clearfix:after {
  content: "\0020";
  overflow: visible;
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/*CLEARFIX END*/
.header{
  background: url(../img/header-bck.jpg) center;
  min-height: 670px;
}
.header-top{
  background: url(../img/header-top-bck.png)no-repeat right;
  height: 50px;
  display: inline-block;
  width: 106%;
  margin-top: 35px;
  line-height: 50px;
  color: white;
  padding-left: 130px;
  position: relative;
  right: 130px;
}
.header-top>a{
  color: white;
  /*line-height: 50px;*/
  vertical-align: top;
}
.header-top>a:hover{
  text-decoration: underline;
}
.lang {
      margin: 16px 0 0 25px;
  line-height: normal;
  position: absolute;
            overflow: hidden;
    height: 17px;
        width: 30px;
        padding-right: 15px;
        cursor: pointer;
        display: inline-block;
        background: url(../img/other/arrow-bottom.png) no-repeat right 7px; }
        .lang-but{left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;}
         .lang .lang-select {
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-family:Arial;
          text-decoration: none;
          vertical-align: middle;
          text-transform: none; }
.header.mini{
  min-height: 180px;
  text-align: center;
  height: 180px;
  background: url(../img/header-mini-bck.jpg) center bottom;

}
.logo{
  text-align: center;
  margin-top: 200px;
}
.logo p{
  font-size: 24px;
  color: white;
  text-align: right;
  font-family: 'calibri';
  opacity: .8;
  display: block;
  margin: 0 auto;
  width: 500px;
  position: relative;
  bottom: 25px;
  margin-bottom: 15px;
}
.logo-mini{
   margin-bottom: 10px;
}
.logo-mini>a{
  color: white;
  font-size: 27.55px;
  font-family: 'calibri';
  font-weight: bold;
  font-style: italic;
  line-height: 0.5;
  position: relative;
  text-shadow:0px 10px 10px #c02c26,
               -1px 1px 1px #c02c26;
}
.logo-mini>a>span{
   color: transparent;
  font-size:39.33px;
  text-shadow:0px 10px 20px #c02c26,
               -1px -1px 0px white;
               position: relative;
               left: 10px;
}
.logo-mini>a:hover,
.logo-mini>a:active,
.logo-mini>a:focus{
  color: white;
  text-decoration: none;
}

.header-menu{
  font-family: 'RobotoCondensed-Regular';
  }

.header-menu li{
  display: inline-block;
}
.header-menu a{
  color: white;
  text-transform: uppercase;
  transition:.1s all;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 3px;
  border:2px solid transparent;
}

.header-menu a:hover{
  background: rgba(68,79,144,0.8);
  border:2px solid rgba(59,115,177,.8);
}
.header-menu a:hover,
.header-menu a:active,
.header-menu a:focus{
  color: white;
  text-decoration: none;
}

/*containers*/

.containers{
  padding-top: 50px;
  margin-bottom: 50px;
}
.profile-block{
  position: relative;
  margin-bottom: 30px;
}
.profile-foto {
  float: left;
  width: 385px;
  height: 385px;
  margin-right: 25px;
  overflow: hidden;

}
.profile-foto img{
  width: 100%;
}
.profile-block .profile-name{
  color: #815e98;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  bottom: 5px;
}
.profile-block .profile-name span{
  font-weight: normal;
}
.profile-block table{
  position: relative;
  left: 3px;
}
.profile-block table td:first-child{
  color: #815e98;
  width: 180px;
  text-align: left;
  padding-bottom:8px;
    vertical-align: top;
    padding-top: 8px;
}
.profile-block table td:last-child{
  color: black;
    vertical-align: top;
    width: 405px;
    padding-top: 8px;
}
.profile-block hr{
  border-top:1px solid #a187a5;
  margin-bottom: 16px;
  margin-top: 8px;
}
.profile-line{
height: 4px;
width: 100%;
border:1px solid #a5c9e4;
overflow: hidden;
position: relative;
}

.profile-block table td.line-prof{
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #4d86b0;
  font-size: 12px;
}
.profile-block table td.line-prof p{
  position: absolute;
  top: -5px;
  left:40%;
}
.profile-block table td.line-prof .profile-line:after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  background: #7cb1d8;
  height: 5px;
  width: 40%;
}
.profile-block table td.line-prof.n20 .profile-line:after{
  width: 20%;
}
.profile-block table td.line-prof.n35 .profile-line:after{
  width: 35%;
}
.profile-block table td.line-prof.n65 .profile-line:after{
  width: 65%;
}
.profile-block table td.line-prof.n20 p{
  left:20%;
}
.profile-block table td.line-prof.n35 p{
  left:35%;
}
.profile-block table td.line-prof.n65 p{
  left:65%;
}
.profile-but{
  font-family:'Roboto-regular';
  text-transform: uppercase;
  display: inline-block;
  width: 285px;
  text-align: center;
  background: #0d4a76;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
}
.left{ float: left;}
.right{float: right;}
.profile-block>span{
  position: absolute;
  top:-15px;
  right: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #278900;
  padding-right: 25px;
  background: url(../img/other/circle.png)no-repeat right;
  font-family: 'RobotoCondensed-Regular';
}
.profile-chat{
  clear: left;
  width: 740px;
  border:1px solid #d8cbd3;
}
.profile-chat-title{
height: 40px;
width: 100%;
background: #7c3e77;
}
.profile-chat-title p{
      display: inline-block;
      float: left;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 18px;
    font-family: 'RobotoCondensed-Regular';
    padding-left: 45px;
    padding-right: 20px;
    border-right: 1px solid white;
    width: 33.3%;
}

.all-mass{
  background: url(../img/other/mail-mass.png) no-repeat 25px 12px , #5e5a99;

}
.fav-mass{
  background: url(../img/other/fav-mass.png) no-repeat 25px 12px;
}
.unread-mass{
  background: url(../img/other/unread-mass.png) no-repeat 25px 12px,#c33b4b;
}
.profile-chat-title p:last-child{
  border: 0;
}
.profile-chat-title p span{
  position: relative;
  bottom: 3px;
  line-height: 22px;
  text-align: center;
  font-size: 10px;
  color: #7c3e77;
  background: white;
  height: 22px;
  display: inline-block;
  width: 22px;
  border-radius: 50px;
}
.chat{
  width: 100%;
  height: 785px;
}
.chat-mailing{
    position: relative;
    height: 580px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

/*arrow-right*/

.arrow-right {
  position: relative;
  background: #f7f7f7;
  border: 1px solid #e5d5e0;
  margin-right: 15px;
}
.arrow-right:after, .arrow-right:before {
  left: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-right:after {
  border-color: rgba(247, 247, 247, 0);
  border-left-color: #f7f7f7;
  border-width: 5px;
  margin-top: -5px;
}
.arrow-right:before {
  border-color: rgba(229, 213, 224, 0);
  border-left-color: #e5d5e0;
  border-width: 6px;
  margin-top: -6px;
}
/*arrow-left*/

.arrow-left {
  position: relative;
  background: #f7f7f7;
  border: 1px solid #e5d5e0;
  margin-left: 15px;
}
.arrow-left:after, .arrow-left:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-left:after {
  border-color: rgba(247, 247, 247, 0);
  border-right-color: #f7f7f7;
  border-width: 5px;
  margin-top: -5px;
}
.arrow-left:before {
  border-color: rgba(229, 213, 224, 0);
  border-right-color: #e5d5e0;
  border-width: 6px;
  margin-top: -6px;
}

/*arrow end*/

.chat-img{
  height: 45px;
  width: 45px;
}
.chat-img img{
  height: 100%;
  width: 100%;
}
.chat-user{ 
padding: 5px;}
.chat-interlocutor{
padding: 5px;}
.chat-text{
  color: #6d6d6d;
  padding: 7px;
  width: 540px;
  font-size: 14px;
  line-height: 1.3;
}
.chat-time{
  font-size: 12px;
  color: #6d6d6d;
  padding: 10px;
  opacity: 0.5;
}
.chat-message{
  position: relative;
}
.chat-message textarea{
  width: 635px;
  resize:none;
  margin-right: 25px;
  padding: 10px;
  border: 1px solid #b689b2;
  /*background: url(../img/other/smile.png)no-repeat 98% 10px;*/
}
.smile-block{
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
}
.smiles{
  position: absolute;
  width: 250px;
  height: 150px;
  background: #f0f0f0;
  border:1px solid #d9dfe5;
  right: 25px;
  bottom: 100%;
  border-radius: 3px;
  display: none;
}
.smiles img{
  padding: 15px 10px;
  cursor: pointer;
}
.load-mess{
  height: 35px;
  width: 35px;
  overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    left:15px;
}
.chat-message .load-item{margin-right: 20px;
      padding-top: 40px;
    width: 35px;
    height: 35px;
    border: 0;
    overflow: hidden;
    background: url(../img/other/attach.png)no-repeat;
    cursor: pointer;
}
.chat-message .load-item:hover{
    background: url(../img/other/attach-h.png)no-repeat;
}
.chat-message a{    font-family: 'Roboto-regular';
    text-transform: uppercase;
    display: inline-block;
    width: 285px;
    text-align: center;
    background: #0d4a76;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 20px;
    border:1px solid transparent;
    cursor: pointer;
    transition:.2s all;}
.chat-message a:hover{
    background: white;
    color: #0d4a76;
    border:1px solid #0d4a76;
}
.chat-message a:active{
    line-height: 32px;

}

    .contacts{
      width: 240px;
      text-align: center;
      background: #f0f0f0;
      border:1px solid #d9dfe5;
    }
    .contacts-title{
      height: 40px;
      width: 100%;
      background: #0f3660;
      text-align: center;
      font-family: 'RobotoCondensed-Regular';
      color: white;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 18px;
    }
    .contacts-seatch input{
      background: url(../img/other/zoom.png)no-repeat 95% center;
      font-size: 12px;
      color: #4b799a;
      border:1px solid #bacddc;
      width: 90%;
      height: 20px;
    }

    .contacts-seatch {
      width: 90%;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
    }
    .contacts-profile{
      min-height: 85px;
      width: 90%;
      display: block;
      margin: 0 auto;
      border-top: 1px solid #bacddc;
    }
    .contacts-profile:hover{
      background: #DCD0D0;
    }
    .contacts-profile-img{
      margin: 10px 5px;
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    .contacts-profile-img img{
      /*height: 100%;*/
      width: 100%;
      float: right;
    }
    .contacts-profile-name{
      font-size: 14px;
      text-align: left;
      padding: 10px 0 5px;
    }
    .contacts-profile-active{
      color: #278900;
      font-size: 12px;
      text-align: left;
      padding-bottom:5px;
    }
    .contacts-profile-time{
      color: #6d6d6d;
      font-size: 12px;
      text-align: left;
    }
    .contacts-all{
      width: 90%;
      display: block;
      margin: 0 auto;
      border-top: 1px solid #bacddc;
    }
    .contacts-all a{
      background: #1a5e87;
      color: white;
      height: 30px;
      width: 100%;
      display: block;
      margin: 10px auto;
      text-align: center;
      line-height: 30px;
      text-transform: uppercase;
    border:1px solid transparent;
    transition:0.3s all;
    }
.contacts-all a:hover{
    background: white;
    color: #0d4a76;
    border:1px solid #0d4a76;
}
.contacts-all a:active{
    line-height: 32px;

}
    .footer{
      position: relative;
      height: 400px;
      background: url(../img/footer-bck.png)no-repeat center;
    }
    .about-us{
      padding-top: 170px;
      width: 355px;
      color: white;
      font-size: 12px;
      line-height: 1.2; 
      opacity: 0.8;
    }
    .about-us-title{
      font-family: 'RobotoCondensed-Regular';
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .about-us p{
      margin-bottom: 15px;
    }
    .about-us a{
      padding-top: 15px;
    }
    .footer-links{
      margin-left: 100px;
      padding-top: 170px;
      color: white;
    }
    .footer-links-title{
      font-family: 'RobotoCondensed-Regular';
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 15px;
      opacity: .8;
    }
    .footer-links a{
      padding-left: 15px;
      display: inline-block;
      color: white;
      font-size: 14px;
      opacity: .8;
      margin-bottom: 10px;
      background: url(../img/other/arrow-link.png)no-repeat left;
    }
    .footer-links a:hover{
      text-decoration: underline;
    }
.copyricht{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: rgba(0,0,0,.5);text-align: center;
  line-height: 45px;
}
.copyricht p{
  font-size: 14px;
  color: white;
}
.copyricht p a{
  color: #9c2881;
}
.search-filter{
  width: 300px;
  border: 1px solid #e8dbe4;
}
.search-filter-title{
  color: white;
  background: url(../img/search-bck.png);
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
}
.search-filter-block{
  color: #6d6d6d;
  border: 1px solid #e6d7e1;
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  background: url(../img/other/arrow-filter.png)no-repeat 95% 10px;
  cursor: pointer;
}
.search-filter-block span{
  margin-right: 15px;
}
.search-filter-block input{
  width: 40px;
    margin-top: 15px;
  border: 1px solid #e8dbe4;
}
.choice-filter{
  text-align: center;
  overflow: hidden;
  height: 0;
}
.choice-filter p{
  margin: 5px;
  text-align: left;
  border-top: 1px solid #e8dbe4;
}

.choice-filter p:hover{
  background: rgba(232,219,228,0.3);
}
.search-filter>input{
  border: 1px solid transparent;
  color: white;
  background: #0d4b77;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 25px;
  width:90%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  transition:.3s all;
  margin-bottom: 10px;
}
.search-filter>input:hover{
  color: #0d4b77;
  border: 1px solid #0d4b77;
  background: transparent;
}
.search-filter>input:active{
  line-height: 23px;
}
.profile-main{
  width: 660px;
}
.profile-main-block{
  width: 150px;
  margin-right: 20px;
  float: left;
  border: 1px solid #a5c9e4;
  box-shadow: 0px 1px 3px #a5c9e4;
  margin-bottom: 20px;
  cursor: pointer;
  color: black;
}
.profile-main-block:hover{
  background: rgba(232,219,228,0.6);
  border: 1px solid transparent;

}
.profile-main-block:nth-child(4n){
margin-right: 0;}
.profile-main-block-img{
  height: 150px;
  width: 100%;
  overflow: hidden;
}
.profile-main-block-img img{
  width: 100%;

}
.profile-main-block p{
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}
.profile-main-block span{
  font-size: 14px;
  opacity: 0.8;
  padding: 5px;
}
.pagination {
  text-align: right;  
}
.pagination li{
  vertical-align: top;
  display: inline-block;
}
.pagination a{
  color:  #5285a7;
  display: inline-block;
  border: 1px solid #accde2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  transition:.1s all;
}
.pagination a:hover{
  border: 1px solid #195482;
  background:#195482;
  color: white;
}
.pagination li:first-child a{
  background: url(../img/other/arrow-left.png)no-repeat center;
}
.pagination li:first-child a:hover{
  background: url(../img/other/arrow-left-h.png)no-repeat center,#195482;
  border: 1px solid #195482;
}
.pagination li:last-child a{
  background: url(../img/other/arrow-right.png)no-repeat center;
}
.pagination li:last-child a:hover{
  background: url(../img/other/arrow-right-h.png)no-repeat center,#195482;
  border: 1px solid #195482;
}
.big-filter{
  width: 100%;
  min-height:140px;
  background: #f9f9f9;
  border: 1px solid #e9e0e6; 
  margin-bottom: 30px;
}
.big-filter-title{
  width: 100%;
  background: #7d3e78;
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  font-family: 'RobotoCondensed-Regular';
  color: white;
  text-transform: uppercase;
  font-size:20px;
}
.big-filter .search-filter-block{
  width: 230px;
  display: inline-block;
  background: url(../img/other/arrow-filter.png)no-repeat 95% 10px,white; 
  margin-left: 10px;
  position: relative;
}
.big-filter  .choice-filter{
    width: 230px;
    background: white;
    z-index: 5;
    position: absolute;
    left: 0;
    top:35px;
 }
 .choice-filter-h{
    max-height: 210px;
    min-height: 100px;
    overflow-y: auto;
}
.big-filter input[type='submit']{
  color: white;
  height: 30px;
  border: 1px solid #aadef6;
  background: #0d4a76;
  color: white;
  width: 230px;
  text-transform: uppercase;
  line-height: 25px;
  float: right;
  margin-right: 27px;
  transition:.2s all;
}
.big-filter input[type='submit']:hover{
  border: 1px solid #0d4a76;
  background: white;
  color: #0d4a76;
}
.profiles-user-block {
  margin-bottom: 30px;
  border: 1px solid #a5c9e4;
  width: 480px;
}
.profiles-user-block:nth-child(2n){
  margin-left: 40px;
}
.profiles-user-img{
  width: 198px;
  float: left;
}
.profiles-user-block img{
  width: 100%;
  border: 1px solid #a5c9e4;
}
.profiles-user-block b{
  display: inline-block;
  font-weight: bold;
  color: #815e99;
  margin: 10px;
  width: 260px;
}
.profiles-user-block p{
  font-size: 14px;
  display: inline-block;
  margin-left: 15px;
}
.profiles-user-block span{
  font-size: 14px;
  opacity: .7;
  display: inline-block;
  margin: 2px 0px 5px 30px;
}
.profiles-user-block a{
  border: 1px solid transparent;
  color: white;
  background: url(../img/other/arrow-right-h.png)no-repeat 90% center, #0d4b77;
  text-align: center;
  width: 260px;
  height: 30px;
  line-height: 27px;
  margin: 0 auto;
  display: inline-block;
  transition:.3s all;
  margin-bottom: 10px;
  margin-left: 10px;
  
}
.profiles-user-block a:hover{
  border: 1px solid #0d4a76;
  background: url(../img/other/arrow-right.png)no-repeat 90% center,white;
  color:  #0d4a76;
}
.profiles-user-name{
  height: 130px;
}
.enter{
      top: -1000px;
    position: absolute;
    width: 600px;
    height: 290px;
    background: white;
    /* display: none; */
    left: 50%;
    transform: translateX(-200px);
}
.enter-title {
    width: 100%;
    height: 40px;
    background: #803e7b;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
}
.enter label {
    color: #aaaaaa;
    width: 350px;
    display: block;
    text-align: center;
    height: 50px;
    margin-left: 85px;
}
.enter label p {
    float: left;
}
.enter label input {
    margin-top: 11px;
    float: right;
    height: 28px;
    line-height: 1;
    width: 270px;
}
.enter-name {
    background: #0e4b78;
    color: white;
    display: block;
    height: 40px;
    width: 270px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}
.enter-help {
    color: #a6a6a6;
    font-size: 12px;
    position: relative;
    bottom: 15px;
    left: 163px;
}
.enter-help.registr {
    left: 270px;
}
.enter i {
    font-size: 12px;
    color: #aaaaaa;
    position: relative;
    top: 25px;
}
.register-page{
  width: 640px;
  display: block;
  margin: 0 auto;
text-align: center;
border:1px solid #eae5e9;
border-bottom:2px solid #eae5e9;
background: #f4f4f4;
}
.register-title{height:40px;
width: 100%;
text-align: center;
color: white;
background: #7c3e77;
line-height: 40px;
font-size: 20px;
text-transform: uppercase;}
.profile-page {background:#f7f7f7;}
.profile-page .enter-name, .register-page .enter-name{
  text-transform: uppercase;
}
.profile-page  .search-filter-block,.register-page .search-filter-block{
  background: white;
}
 .profile-page label,.register-page label {
    color: #aaaaaa;
    width: 400px;
    display: block;
    text-align: center;
    min-height: 50px;
    margin-left: 85px;
}
 .profile-page label p, .register-page label p {
    float: left;
        padding-top: 16px;
}
 .profile-page label input, .register-page label input {
    margin-top: 11px;
    float: right;
    height: 28px;
    line-height: 1;
    width: 270px;
}
 .profile-page .search-filter-block,.register-page .search-filter-block{
  width: 150px;
  display: inline-block;
  float: left;
  margin-right: 25px;
  }
 .profile-page span,.register-page span{
  float: left;    color: #aaaaaa;
  padding-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
}
.regist-mail{
  width: 400px;
  display: block;
  margin:  0 auto;
}
.regist-mail input{
  float: left;
 width: 40px;
 margin-top: 10px;
}
 .profile-page ,.register-page .enter-name{
  margin-bottom: 25px;
}
.btn.btn-primary.right{
      border-radius: 0;
    background: #1A5E87;
    margin: 25px;
}
.profile-page {
  width: 100%;
}
.profile-page .search-filter-block{
      position: relative;
      display: inline-block;
  margin-left: 120px;
}

.profile-page .choice-filter{
  position: absolute;
  background: white;
}
.personal-info{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #815e99;
  border-bottom: 1px solid #e5d5e0;
  margin: 15px 0px;
}
.profile-page label{
  margin-left: 150px;
  color: #815e99;
}
.profile-page span{
  color: #815e99;}
.profile-page label.mini-input p{
  margin:0 15px 0 40px;
}
.profile-page label.mini-input p:first-child{ margin-left: 0; margin-right: 75px;}
.profile-page label.mini-input input{
  float: left;
width: 35px;}
.profile-page .for-us textarea{
  resize:none;
  width: 270px;
  height: 200px; 
  float:right;
}
.for-us{
  height: 200px;
  width: 400px;
  display: block;
  margin-left:150px;
}
.for-us p{    color: #815e99;
  float: left;  
}
.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
  margin-top: 25px;
  position: relative;
      border: 1px solid #e6d6e1;
      margin-left: 10px;
} 

html[xmlns] .input-file-row-1{
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container { 
  position: relative; 
  width: 115px; 
  height: 115px; 
  overflow: hidden; 
  background: url(../img/other/add-foto.png)  center no-repeat,white;
  float: left;
  margin-left: 23px;
} 

.upload-file-container:first-child { 
  margin-left: 0;
} 

.upload-file-container > img {
  width: 115px;
  height: 115px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.upload-file-container-text{
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #719d2b;
  line-height: 17px;
  text-align: center;
  display: block;
  position: absolute; 
  left: 0; 
  bottom: 0; 
  width: 115px; 
  height: 115px;
}


.upload-file-container input  { 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  font-size: 1px; 
  opacity: 0;
  filter: alpha(opacity=0); 
  margin: 0; 
  padding: 0; 
  border: none; 
  width: 115px; 
  height: 115px; 
  cursor: pointer;
}
.add-foto{
  width:780px;
  display: block;
  margin-left: 150px;
}
.add-foto p{    color: #815e99;
  float: left;  
  margin-right: 75px;
}
.profile-page{
  padding-bottom: 25px;
}

.profile-page .enter-name{
  margin-top: 35px;
}
.profile-page .chekbox{
  height: 150px;    padding-top: 35px;}
.profile-page .chekbox p{
  padding-top: 0; 
}
.profile-page .chekbox input{
  height: 12px;
  width: 12px;
  float: left;
  margin: 0;
}
.profile-page .chekbox span{
  padding-top: 0;
 margin-top: 0;
  float: right;
}
.checkbox{
  display: block;
  width: 250px;
  margin-left: 150px;
}
.chat-mailing.last-mass{
height: 760px;
}
.lass-m-profile{
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.lass-m-profile img{
  height: 100%;
  width: 100%;
}
.last-mass-block{
  padding: 15px;
  border-bottom:1px solid #ebe4e8;
}

.last-mass-block.for-avtor{
  background: #fafafa;
}
.lass-prof-info{
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
  color: #7c3e77;
  width: 180px;
}
.lass-prof-info span{
  font-size: 12px;
  color: #6d6d6d;
}
.lass-prof-text{
  width: 450px;
  display: inline-block;
  color: #6d6d6d;
  padding-left: 25px;
}
.status input{
  background: #f5f5f5;
  font-family: 'Roboto-regular';
  color: #815e98;
  background: #e5d5e0;width: 580px;
  height: 35px;
  margin-bottom: 15px;
}
.prof-info-block{
  width: 590px;
    display: inline-block;
}
.prof-info-block h3{
  text-transform: uppercase;
  color: #195d87;
  font-family: 'RobotoCondensed-Regular';
  line-height: 2;
  position: relative;
  top: 10px;
}
.prof-left-block{
  float: left;
  width: 385px;
  clear: left;  
}
.prof-left-block .profile-but{

  width: 385px;
    height: 40px;
    line-height: 42px;
}
.cont-profile{
  margin-top: 25px;
  width: 385px;
  background: #f0f0f0;
  height: 480px;
}
.cont-profile-title{
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 42px;
  color: white;
  font-family: 'RobotoCondensed-Regular';
  background: #83407e;
  font-size: 18px;
  text-transform: uppercase;
}
.cont-profile input{
  color: #4b799a;
  background: url(../img/other/zoom.png)no-repeat 96% center,#f1f1f1;
  border: 1px solid #bacddc;
  display: block;
  margin:  15px auto;
  width: 90%;
}
.profile-friend{
  width: 100%;
  height: 345px;
  overflow-y:scroll;
}
.profile-friend-block{
  height: 85px;
  border-top: 1px solid #bacddc;
  margin: 0 18px;
  position: relative;
}
.profile-friend-block:hover{
background: #DCD0D0;
}
.profile-friend-img{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-top: 12px;
  margin-right: 10px;
}

.profile-friend-img img{
  height: 100%;
  width: 100%;
}

.profile-friend-block p{
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  color: #815e99;
  font-family: 'Roboto-regular';
  font-weight: bold;
}

.profile-friend-block span{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    font-family: 'Roboto-regular';
    position: absolute;
    left: 72px;
    top: 25px;
}
.prof-fr-online{
  height: 10px;
  width: 10px;
  background: #56c928;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.profile-friend-block b{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    font-family: 'Roboto-regular';
    position: absolute;
    left: 72px;
    top: 45px;
    color: black;
    opacity: 0.5;
  }
  .lightbox{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: none;
  }
  .del-window{
    position: fixed;
    top: 150px;
    width: 600px;
    height: 220px;
    background: white;
  }
  .title-del{
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    color: white;
    line-height: 42px;
    background: #7c3e77;
    text-align: center;
    font-size: 20px;
  }
  .del-window p{
    text-align: center; 
    margin-top: 25px;
    color: #868686;
    margin-bottom: 25px;
  }
  .del-window .profile-but{

    display: block;
    margin: 0 auto;
  }
  .photo-akk{
    height: 35px;
    width: 35px;
    position: absolute;left: 0px; top:-35px;
  }

  .photo-akk img{ 
  height: 100%;
  width: 100%;
  }